extends layout

block head
  title Gofer &mdash How It Works

block content

  h1 Gofer

  .content
    
    h2 How it Works

    p The rest of your blog posts are structured the same way, namely with the content in an element that matches the CSS selector <code>article.blog-post</code>, and the navigation in <code>nav.post-navigation</code>. The footer stays the same, as does the <code>&lt;h1&gt;</code> at the top. So we're targeting <code>article.blog-post</code> and <code>nav.post-navigation</code>. The links that take us from page to page are in the nav element and have the class .splink-link. So the plugin usage in this case would be:

  
  .navigation
    p <a class="gofer-link" href="/gofer.js/pages/big-page.html">Next: Massive Page</a>
    p <a class="gofer-link" href="/gofer.js/pages/overview.html">Previous: Overview</a>