doctype html
html
  head
    
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no")

    link(rel="stylesheet", href="/gofer.js/css/splink-pages.css")


    block head

  body
    .wrapper
      block content

      p.outside

    script(src="/gofer.js/js/jquery-2.1.0.min.js")
    script(src="/gofer.js/gofer/pubsub.js")
    script(src="/gofer.js/gofer/util.js")
    script(src="/gofer.js/gofer/gofer-classes.js")
    script(src="/gofer.js/gofer/core.js")
    
    script(src="/gofer.js/js/init.js")

    block end


